#blogWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	text-align: left;
	/* background-image: linear-gradient(to top, #E46D17, #F86F4B); */
	/* background-color: #F86F4B; */
}

#blogWrapper p{
	width: 90%;
	text-align: left;
	font-size: 1.1rem;
	line-height: 35px;
	color: rgb(26, 26, 26);
	font-size:clamp(10px, 1vw + 0.9rem, 23px);
}

#blogWrapper ol {
	width: 90%;
	display:flex;
	flex-direction: column;
	gap: 10px;
	color: rgb(58, 58, 58);
	font-size:clamp(10px, 1vw + 0.9rem, 23px);

}
#blogWrapper ol li {
	width: 85%;
}


#blogWrapper h2, #blogWrapper h3, #blogWrapper h1 {
	width: 90%;
	text-align: left;
}


#blogWrapper img {
	position: relative;
	/* width: 100%; */
}
#blogWrapper i {
	padding:3px 3px;
	border-radius: 10px;
	font-style: normal;
	font-weight: bold;
}
#blogWrapper pre {
	min-width: 90%;
	background-color: yellow;
}

.blog_link {
	background-color: yellow;
}