#root {
  margin: 0;
  padding: 0;
  text-align: center;
  /* background-image: linear-gradient(to top, #070402, #F86F4B); */
  min-height: 100vh;
  width: 100vw;
  color: black;
  background-color: rgb(255, 255, 255);
}

#App {
  position: relative;
  background-color: white;
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
}

